# Local .terraform directories
**/.terraform/

# .tfstate files (local state)
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude .tfvars files, which may contain sensitive data
*.tfvars
*.tfvars.json

# Ignore override files used for local modifications
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore saved plan files
# If you use `terraform plan -out=tfplan`, adjust this pattern if needed
# For example: *.tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc
